#settings-menu {
	border: 2px solid var(--fg-subtext);
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

	user-select: none;

	opacity: 0;
	transform: translateY(10px) scale(0.95);

	transition:
		opacity 0.2s ease-in-out,
		transform 0.2s ease-in-out,
		display 0.2s allow-discrete,
		overlay 0.2s allow-discrete;

	p {
		font-family: "Ekatori";
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 16px;

		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;

		&::before,
		&::after {
			content: "";
			flex-grow: 1;
			height: 2px;
			background-color: var(--fg-text);
		}
	}

	#options-container {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}
}

#settings-menu:popover-open {
	opacity: 1;
	transform: translateY(0) scale(1);
}

@starting-style {
	#settings-menu:popover-open {
		opacity: 0;
		transform: translateY(10px) scale(0.95);
	}
}
