<div id="settings-menu" popover>
	<p>Settings</p>
	<div class="options">
		<label id="dark-mode-toggle" class="switch">
			<span class="switch-box">
				<input type="checkbox" />
				<span class="slider"></span>
			</span>
			<span class="label">Dark mode</span>
		</label>

		<label id="preferences-toggle" class="switch">
			<span class="switch-box">
				<input type="checkbox" />
				<span class="slider"></span>
			</span>
			<span class="label">Remember my preferences</span>
		</label>
	</div>
</div>
