#info-popup {
	.popup-title {
		font-family: "Ekatori";
		font-weight: bold;
		font-size: 2rem;
	}

	.popup-subtitle {
		font-weight: italic;
		color: var(--fg-subtext);
		margin-bottom: 24px;
	}
}

#info-popup[open] {
	border: 2px solid var(--fg-subtext);
	border-radius: 8px;
	padding: 32px 24px;

	display: flex;
	flex-direction: column;
	align-items: center;

	li {
		margin: 8px 0px;
	}
}

#info-popup .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	border: 2px solid var(--fg-subtext);
	border-radius: 50%;
	padding: 0;
	line-height: 1;

	cursor: pointer;
	background: none;
	font-size: 14px;
}
