#info-popup {
	.popup-title {
		font-family: "Ekatori";
		font-weight: bold;
		font-size: 2rem;
	}

	.popup-subtitle {
		font-weight: italic;
		color: var(--fg-subtext);
		margin-bottom: 24px;
		text-align: center;
	}
}

#info-popup[open] {
	border: 2px solid var(--fg-subtext);
	border-radius: 8px;
	padding: 32px 24px;

	display: flex;
	flex-direction: column;
	align-items: center;

	li {
		margin: 8px 0px;
	}
}
