body {
	background-color: var(--bg-base);
	color: var(--fg-text);
	font-family: "Questrial", Helvetica, sans-serif;
}

.svg-button {
	width: 24px;

	background-color: var(--bg-base);

	&:hover {
		cursor: pointer;
	}
}
