@import "reset.css";
@import "globals.css";
@import "tokens.css";
@import "components/icon-button.css";
@import "components/dialog.css";

body {
	height: 100dvh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	padding: 8px 16px;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;

		text-decoration: none;
	}

	.logo-image {
		width: 48px;
	}

	.logo-text {
		font-family: "Lamarkie";
		font-weight: bold;
		color: var(--fg-text);
	}
}

main {
	height: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;

	/* Center <p> relative to the screen */
	p {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		a {
			text-decoration: none;
		}
	}

	.icon-button {
		margin-right: 16px;
	}
}
