@import "reset.css";
@import "globals.css";
@import "tokens.css";

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 8px 16px;

	.box-left {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	.logo {
		width: 48px;
	}

	.name {
		text-decoration: none;

		font-family: "Lamarkie";
		font-weight: bold;
		color: var(--fg-text);
	}

	#settings {
		background-color: var(--bg-base);

		img {
			width: 24px;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
