@import "reset.css";
@import "globals.css";
@import "tokens.css";
@import "components/icon-button.css";
@import "components/text-button.css";
@import "components/dialog.css";
@import "components/slide-switch.css";

body {
	height: 100dvh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	padding-top: 8px;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	.logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;

		img {
			width: 48px;
		}

		p {
			font-family: "Ekatori";
			font-size: 1.6rem;
			margin-top: 4px;
			font-weight: bold;
			color: var(--fg-text);
		}
	}
}

main {
	height: 100%;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 0px 8px 8px;

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	p {
		cursor: default;
	}

	a {
		text-decoration: none;
	}
}

#settings-menu {
	border: 2px solid var(--fg-subtext);
	padding: 16px;
	border-radius: 8px;

	user-select: none;

	p {
		font-family: "Ekatori";
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 16px;

		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;

		&::before,
		&::after {
			content: "";
			flex-grow: 1;
			height: 2px;
			background-color: var(--fg-text);
		}
	}

	.options {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
